html, body {

	margin: 0;
	padding: 0;
	height: 100%;
 
}


.container {

	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;

}


.wrapper {

	margin: 0 auto;
	width: 80%;

}

.header {

	width:100%;

}

.header > h1 {

	font-size: 2.2em;
	font-family: Oswald, sans-serif;
	color: #000;
	text-align: center;

}

.header > h1 span {

	color: #000;

}

input {
	
	border: none;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
	outline: none;
	border-radius: 0;
	margin: 0 auto;
	display: block;
	height: 40px;
	width: 60%;
	font-size: 35px;
	font-family: Lato, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 24px;

}

input#gitusername {

	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top: 1px solid #eee;
	border-bottom: 2px dotted #eee;

}

input#gitpassword, input#cloneurl {

	border-bottom: 2px dotted #eee;

}

input#gitdir {

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;

}

#cloneit {

	display: block;
	margin: 24px auto;
	text-align: center;
	width: 50%;

}

.btn {
  border: 1px solid #0C0B12;
  border-radius: 5px;
  padding: 8px 14px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .44);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 0 1px 1px rgba(255, 255, 255, .29);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 0 1px 1px rgba(255, 255, 255, .29);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 0 1px 1px rgba(255, 255, 255, .44);
	text-decoration: none;
	font-family: Lato;
	font-size: 1.2em;

}


.blue {
  background-color: rgba(17, 53, 96, 1);
  color: #86A3C5;
}

.blue:hover,
.blue:active,
.blue:focus {
  background-color: #BFBFBF;
  color: rgba(17, 53, 96, 1);
}

.green {

	background-color: rgba(51, 138, 46, 1);
	color: #8DCF8A;
	border: 1px solid #156711;

}

/* helpers */

.vc {

	position: relative;
	top: 50%;
	transform: translateY(-50%);

}